@model OdeToFood.Models.RestaurantReview

@* 
    only available in the same folder scope 
    if put in Shared View folder, then can be used by any Views
*@


<div class="review">
    <h4>@Model.Name</h4>
    <span>@Model.Rating</span>
    <p>@Model.City, @Model.Country</p>

    <span class="right">
        @Html.ActionLink("Edit", "Edit", new {id = Model.Id})
    </span>
</div>